@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #080c1e;
  color: #e8ecff;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}
